{{> menu active="about"}}

<section class="section">
  <div class="container">
    <h1 class="title is-3">About Workspace</h1>

   <div class="content">
  <p>
    The Wandering Desk is a community platform designed for digital nomads,
    remote workers, students, and creatives looking for inspiring places to work around the world.
  </p>

  <p>
    Users can discover and organise work-friendly spaces such as cafés,
    coworking hubs, libraries, and study spots while sharing experiences,
    images, and useful information about each location.
  </p>
</div>
</section>