{{> welcome-menu active="signup"}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">

        {{> error}}

        <div class="box">

          <h1 class="title is-3 has-text-centered">Create an Account</h1>
          <p class="subtitle is-6 has-text-centered">
            Sign up to start listing and managing your workspaces.
          </p>

          <form action="/register" method="POST">

            <label class="label">Name</label>

            <div class="field is-horizontal">
              <div class="field-body">

                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="First name" name="firstName" required>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Last name" name="lastName" required>
                  </div>
                </div>

              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" placeholder="Enter your email" name="email" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="Enter your password" name="password" required>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth">
                  Sign Up
                </button>
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
</section>