<a href="/dashboard" class="navbar-item">
  <span class="icon has-text-white mr-2">
    <i class="fas fa-map-marker-alt"></i>
  </span>
  <span class="has-text-weight-bold has-text-white">Workspace</span>
</a>